{% extends 'base.html' %}



{% block title %}
    Portal Busquedas
{% endblock %}

{% block contenido %}
  <div class="container">
    <div class="container mx-auto" style="width: 500px;">
      <button type="button" class="btn btn-outline-info" style="width: 200px;" data-toggle="tooltip" data-placement="bottom" title="Encontraste una mascota?">Mascotas Encontradas</button>
      <button type="button" class="btn btn-outline-success" style="width: 200px;" data-toggle="tooltip" data-placement="bottom" title="Perdiste una mascota?">Mascotas Perdidas</button>
    </div>
  </div>

  <div class="container">
    <div class="container float-left w-auto p-3">
      <div class="accordion" id="accordionExample">
        <div class="card">
          Filtro
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tipo
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Zona
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Raza
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mx-auto">
        <div class="col-sm-12">
          <div class="card-deck ">
              <div class="card border-success mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-success">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card border-info mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-info">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card border-success mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-success">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card border-success mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-success">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card border-info mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-info">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card border-success mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body text-success">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}